

	<!--CONTAINER WRAPPER-->
	<div class="container">
		<!--PAGINATION-->
		
		<p><%= pagy_nav(@pagy).html_safe %></p>

		<div class="card-columns">
	
	<!--SHOW LISTINGS-->
	<% @listings.each do |listing| %>
		<div class="card mycard">
		    <!-- <h2 class="pink"><%= listing.name %></h2> -->
		    <h4 class="pink"><%= link_to listing.name, listing_path(listing) %></h4><br />
		    <p class="lightweight"><%= listing.description %></p>
		    <small class="text-muted"><%= listing.address %></small>
		    <!--show user, if present-->
		    <!--<div class="card-footer">
      		<small class="text-muted"><i class="fa fa-user"></i>
      		[SEE NOMSTER LESSON 18 to use] </small>
    		</div>-->
		</div>

	<% end %>

		</div><!--/card-columns-->
	</div><!--/container-->











